@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
}

:root {
  --100: #ffffff;
  --200: #e3f6f5;
  --300: #bae8e8;
  --400: #2c698d;
  --500: #272643;
}

a,
a:active,
a:visited {
  color: var(--100);
}

body {
  background-color: var(--400);
  color: var(--100);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: 400;
}

p {
  width: 25rem;
  font-weight: 300;
}

.card-introduction {
  height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card-introduction img {
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px var(--500);
  border: 3px solid var(--300);
}

.card-social ul {
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
}

a:hover {
  color: var(--300);
}
