* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  background-color: #99aab5;
}
.page-title {
  padding: 1rem;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

/* Project Page CSS */
.project-container {
  max-width: 90%;
  margin: auto;
  display: flex;
  min-height: 10rem;
  justify-content: space-evenly;
  flex: 2 1 40rem;

  flex-direction: column;
}
.box{
 
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #536878;
}
.wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
}
.boxright{
  background: #383b58;
}
.boxleft{
  background: #536878;
}