*   {
    box-sizing: border-box;
    margin: 0;
}

body    {
    font-family: "Roboto";
    background-color:#031D44;
}
.wrapper    {
    width: 400px;
    margin: 0, auto;
    position: relative;
}

.hero-image {
position: absolute;
width: 1000px;
height: 480px;
left: 150px;
top: 150px;
}
audio   {
position: absolute;
width: 400px;
height: 50px;
left: 650px;
top: 395px;
}

header h1{
position: absolute;
width: 200px;
height: 50px;
left: 650px;
top: 150px;
font-size: 93px;
color: #C6D8D3;
}


header h2  {
position: absolute;
width: 250px;
height: 50px;
left: 650px;
top: 250px;
font-weight: normal;
font-size: 93px;
color: #C6D8D3;
}

header p    {
position: absolute;
width: 350px;
height: 50px;
left: 650px;
top: 350px;
font-style: italic;
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #C6D8D3;
}
