@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
:root {
  --100: #ffffff;
  --200: #e3f6f5;
  --300: #bae8e8;
  --400: #2c698d;
  --500: #272643;
}

a,
a:active,
a:visited {
  color: var(--100);
}

body {
  background-color: var(--500);
  color: var(--100);
  display: flex;
  justify-content: center;
}
.card-introduction {
  height: 100vh;
  background-color: var(--400);
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.card-introduction img {
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px var(--500);
}
.card-social ul {
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
}

@media screen and (min-width: 700px) {
  .card-introduction {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
  }
}
