body {
  margin: 0;
  padding: 0;
  background-color: rgb(71, 15, 15);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 5px;
}
.wrapper {
  width: 400px;
  margin: auto;
}

.hidden {
  display: none;
}

.number {
  background: rgb(104, 104, 104);
  color: white;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  font-size: 9rem;
  align-items: center;
  margin: auto;
  border-color: white;
  border-style: solid;
}
.message,
.winlosemsg {
  font-size: 170%;
}

.buttons {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  font-size: 4rem;
  background-color: #ffa500;
  color: white;
  margin: 0.2rem;
  border-style: solid;
  border-color: rgb(240, 194, 110);
}

.playagain {
  background-color: #ffa500;
  color: white;
  height: 4rem;
  width: 7rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  border-radius: 5%;
}

.buttons:hover {
  background-color: rgb(255, 123, 0);
}
